@model QuizForam.Models.Login



@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link href='@Url.Content("~/Content/common/bootstrap.css")' rel="stylesheet" media="screen" />
    <link href='@Url.Content("~/Content/animate.min.css")' rel="stylesheet" />
    
    <link href='@Url.Content("~/Content/style1.css")' rel="stylesheet" media="screen" />
    <link href='@Url.Content("~/Content/font-awesome.css")' rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="login-body">

    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo"> <img src="~/images/logo.jpg" /> </div>
        <!-- start: admin-login-widget -->
        <div class="admin-login-widget">
            <h3 class="text-center">User Login</h3>
            <p class="text-center"> Please enter your name and password to log in. </p>
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                //required = "required"
                if (!string.IsNullOrEmpty(ViewBag.danger))
                {
                    <div class="alert alert-danger  alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <b>@ViewBag.danger <strong>!!! </strong>  </b>
                    </div>
                }
                if (!string.IsNullOrEmpty(ViewBag.success))
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <b>  @ViewBag.success <strong>!!! </strong>  </b>
                    </div>
                }
                <fieldset>
                    <div class="form-group">
                        <span class="input-icon">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", @required= "required" } })
                            <i class="fa fa-user"></i>
                        </span>
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @required= "required" } })
                            <i class="fa fa-lock"></i>
                        </span>
                        @Html.ValidationMessageFor(model => model.Password, "", new { htmlAttributes = new { @class = "text-danger" } })
                    </div>

                    <div class="form-actions">
                        <label for="remember" class="checkbox-inline" style="visibility:hidden">
                            <input class="grey remember" id="remember" name="remember" type="checkbox" />
                            Keep me signed in
                        </label>
                        <button type="submit" class="btn btn-primary pull-right"> Login <i class="fa fa-arrow-circle-right"></i> </button>
                    </div>
                </fieldset>
            }
            <!-- start: COPYRIGHT -->
            <div class="copyright"> Powered by- Sanjeev & Pratush. </div>
            <!-- end: COPYRIGHT -->
        </div>



        <!-- end: COPYRIGHT -->
    </div>

    <!-- end: REGISTER BOX -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
            <script src="assets/plugins/respond.min.js"></script>
            <script src="assets/plugins/excanvas.min.js"></script>
            <script type="text/javascript" src="assets/plugins/jQuery/jquery-1.11.1.min.js"></script>
            <![endif]-->
    <!--[if gte IE 9]><!-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")


    <script src="~/Scripts/login.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        $(document).ready(function () {
            Login.init();
        });
    </script>
</body>

</html>



