
<!DOCTYPE html>
    <html class="no-js" ng-app="ExamAdmin">

    <head>
        <title> @ViewBag.Title </title>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/QuizForam")
        <script src="~/Scripts/Default_Js/Class.js"></script>


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
        <script src="~/Scripts/Default_js/sweet-alert.js"></script>
        <script src="~/scripts/comman_js/bootstrap.min.js"></script>


        <link href="~/Content/common/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="~/Scripts/Comman_Js/bootstrap.js"></script>


        <link href="~/Content/common/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" media="screen" />
        <link href="~/Content/screen.css" rel="stylesheet" media="screen" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <script src="~/Scripts/Comman_Js/bootstrap-multiselect.js"></script>



        <script src="~/Scripts/Comman_Js/dataTable/jquery.dataTables.js"></script>
        <link href="~/Content/dataTable/jquery.dataTables.css" rel="stylesheet" />

        <script src="~/Scripts/Comman_Js/chosen.jquery.min.js"></script>
        <link href="~/Content/common/chosen.css" rel="stylesheet" />
        <script src="~/Scripts/Comman_Js/bootbox.min.js"></script>
        <link href="~/Content/common/datepicker.css" rel="stylesheet" />

        <script src="~/Scripts/Comman_Js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="~/Scripts/Comman_Js/date-time/moment.min.js"></script>
        <script src="~/Scripts/Comman_Js/date-time/daterangepicker.min.js"></script>
        <script src="~/Scripts/Comman_Js/jquery.PrintArea.js"></script>
        <script src="~/Scripts/Comman_Js/bootstrap-datetimepicker.js"></script>
        <script src="~/Scripts/Comman_Js/bootstrap-datetimepicker.min.js"></script>
        <link href="~/Content/common/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/Content/common/bootstrap-datetimepicker.min.css" rel="stylesheet" />


        @RenderSection("PageScripts", false)


    </head>

    <body style="padding-top: 60px; padding-bottom:60px;">

        <div id="loderimg" style="display: none; position: fixed; height: 100%; width: 100%; z-index: 1111110; background-color: rgba(35, 44, 115, 0.5); background: rgba(35, 44, 115, 0.5); color: rgba(35, 44, 115, 0.5)">
            <img src="~/Images/document-loader.gif" alt="" style="position: absolute; left: 30%; top: 20%">
        </div>


        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="@Url.Action("Dashboard","Home")">Admin Panal</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">



                            <li><a href="@Url.Action("Index", "Plan")">Plan</a></li>
                            <li><a href="@Url.Action("Index","Program")">Program</a></li>

                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">User<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Administrator")">Administrator</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Student")">Student</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">Question<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Question", new { Stream = 1 })">Question</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Essay")">Essay(Comprehensive) Question</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">Test<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","Section")">Test</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Result")">Result</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">Question<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Question", new { Stream = 1 })">Question</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Essay")">Essay(Comprehensive) Question</a></li>
                                </ul>
                            </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right ">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user" title="Logout"></span> @Session["Name"] <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout","login")"><span class="fa fa-power-off" title="Logout"></span> Logout </a></li>

                            </ul>
                        </li>
                        <li class="col"></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-sm-12">

                    @if (!string.IsNullOrEmpty(ViewBag.danger))
                    {
                        <script>
                            window.setTimeout(function () { $(".alert-danger").slideUp(500, function () { $(this).remove(); }); }, 3000);
                        </script>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @ViewBag.danger
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(ViewBag.success))
                    {
                        <script>
                            window.setTimeout(function () { $(".alert-success").slideUp(500, function () { $(this).remove(); }); }, 3000);
                        </script>
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @ViewBag.success
                        </div>
                    }

                    @RenderBody()





                </div>
            </div>

        </div>

        <nav class="navbar navbar-inverse navbar-fixed-bottom ">
            <div class="navbar-header">
                <a class="navbar-brand " href="#"> &copy; Powered by- QuizForam </a>
            </div>
        </nav>
        <!--/.fluid-container-->
    </body>
    </html>
