@model IEnumerable<QuizForam.Areas.Admin.Models.Plan>

@{
    ViewBag.Title = "Plan Master";
}


<script src='@Url.Content("~/Areas/Admin/Script/plan.js")'></script>


@{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary  panel-hovered panel-stacked mb30 table-responsive basic-table">
                <div class="panel-heading">
                    List Of Plan

                    <a class="btn  btn-success btn-xs  pull-right" id="BtnAddPlan"> <span class="fa fa-plus fa"></span> Add New Plan</a>


                </div>
                <div class="panel-body bg-gray">
                    <table id="DataTable" class="table table-striped table-bordered ">
                        <thead>
                            <tr class="bg-danger ">
                                <th>@Html.DisplayNameFor(model => model.PlanName)</th>
                                <th>@Html.DisplayNameFor(model => model.ActiveDay)</th>
                                <th>@Html.DisplayNameFor(model => model.GracePeriod)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Active)</th>
                                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PlanName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActiveDay)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GracePeriod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Active)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.PlanId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.PlanId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.PlanId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
}


<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div id="DivForm"></div>
        </div>
    </div>
</div>



