@model IEnumerable<QuizForam.Areas.Admin.Models.Organization>

@{
    ViewBag.Title = "Organization master";
    var rdioid = 0;
}


<script src='@Url.Content("~/Scripts/Admin/Organization.js")'></script>


@{
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">Plans list</h3>

            <div class="clearfix">
                <a class="btn btn-white btn-primary btn-bold pull-right " id="BtnAddOrganization"> <span class="fa fa-plus fa"></span> Add New Plan</a>
                <br /> &nbsp; &nbsp;
                <br /> &nbsp; &nbsp;
            </div>


            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="OrganizationTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="bg-danger ">
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.OrganizationName)</th>
                            <th>@Html.DisplayNameFor(model => model.SortName)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNo1)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNo2)</th>
                            <th>@Html.DisplayNameFor(model => model.Active)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                            <th>Edit</th>
                            <th>Deactve</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            rdioid = rdioid + 1;
                            <tr>
                                <td>@rdioid</td>
                                <td>@Html.DisplayNameFor(model => model.OrganizationName)</td>
                                <td>@Html.DisplayNameFor(model => model.SortName)</td>
                                <td>@Html.DisplayNameFor(model => model.PhoneNo1)</td>
                                <td>@Html.DisplayNameFor(model => model.PhoneNo2)</td>
                                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                <td>
                                    <button class="btn btn-info btn-xs" onclick="EditPlanForm('@item.OrganizationID')"><span class="fa fa-edit fa"></span> Edit </button>
                                </td>
                                <td>
                                    @using (Html.BeginForm("Delete", "Organization", FormMethod.Post, new { id = "form" + item.OrganizationID, name = "form" + item.OrganizationID }))
                                    {
                                        <input type="hidden" name="ID" value="@item.OrganizationID" />
                                        <button type="button" class="btn btn-danger btn-xs" onclick="javascript: return DeleteOrganization('@item.OrganizationID','@item.OrganizationName'); "><span class="fa fa-close fa"></span> Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="DivForm"></div>
        </div>
    </div>
</div>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderEmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderEmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrganizationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrganizationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrganizationID })
        </td>
    </tr>
}

</table>*@
